*.vscode
*.csproj
*.sln
*.log

**/Apps/
**/UserSettings/
**/Logs/
**/Library/
**/Temp/
**/obj/

# Additional Assets
**/Blockout/
**/TextMesh Pro/
**/SkySerie Freebie/
**/ProBuilder Data/

# results
**/results/**/*.onnx
**/results/**/*.pt

.fake
.ionide